name: Release

on:
  push:
    branches: [main]
    paths: [pyproject.toml]

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release:
    uses: tsilva/.github/workflows/release.yml@main
    secrets: inherit
